{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react",
    "next"
  ],
  "plugins": [
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-runtime"
  ]
}
