.logo {
  color: #0647a5;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  svg {
    height: 30px;
    margin-right: 10px;
  }
}

.chart-tooltip {
  background: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px;

  & > p:last-child {
    margin-bottom: 0;
  }
}

.cover-centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ant-spin-text {
  margin-top: 12px;
  color: #333;
}

.ant-select {
  max-width: 100%;
}
.ant-select-selection {
  min-width: 200px;
}

.ant-layout-header,
.ant-card {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.ant-card {
  & .ant-layout {
    background: transparent;
  }
  & .ant-layout-sider {
    margin-left: 10px;
    padding-left: 30px;
    border-left: 1px solid rgb(232, 232, 232);
  }
}

.ant-card-head-title {
  white-space: normal;
}

.ant-page-header {
  display: flex;
  align-items: center;
}

.ant-page-header-back {
  flex: 0 0 auto;
}

.recharts-tooltip-wrapper {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}
