.logo {
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}

.main-container {
  position: relative;
  min-height: 500px;
  padding: 64px 170px 144px 64px;
  overflow: hidden;
  background: #fff;
}
